{% extends "base.html" %}
{% block content %}

<div class="section-container">
  <div class="container">
    {% for proj in projects %}
    <div class="row">
          <div class="text-center section-container-spacer">
              <h2 class="with-project-number">
                  <span class="project-number">
                        <!-- Leading 0 if I need it -->
                      {{loop.index if loop.index|string|length > 1 else '0' + loop.index|string}}
                  </span>
                  {{proj.name}}
              </h2>
          </div>
          <div class="row section-container-spacer">
              <div class="col-xs-12 col-md-6">
                  <div class="section-container-spacer">
                    <h3>{{proj.headline}}</h3>
                    <p>Last Updated {{proj.updated}}</p>
                      <p>{{proj.description}}</p>
                      <p><a href="{{ url_for('project_page', proj_name=proj.url) }}" class="btn btn-info">Learn more </a></p>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="section-container-spacer">
                      <img src="{{'/static/assets/images/'+proj.img }}" alt="" class="img-responsive">
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}

  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
<!--        <ul class="navbar-nav nav">-->
<!--          <li>-->
<!--            <a href="" title="" class="project-nav left"><span class="project-number">01</span>Previous</a>-->
<!--          </li>-->
<!--        </ul>-->
        <p class="h5 navbar-text">All projects <i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

<!--        <ul class="navbar-nav nav navbar-right">-->
<!--          <li>-->
<!--            <a href="./about" title="" class="project-nav right"><span class="project-number">03</span>Next </a>-->
<!--          </li>-->
<!--        </ul>-->
      </div>
    </div>
  </div>
</div>

{% endblock %}