{% extends "base.html" %}
{% block content %}

<div class="section-container">
  <div class="container">
    {% for proj in projects %}
    <div class="row">
          <div class="text-center section-container-spacer">
              <h2 class="with-project-number">
                  <span class="project-number">
                        <!-- Leading 0 if I need it -->
                      {{loop.index if loop.index|string|length > 1 else '0' + loop.index|string}}
                  </span>
                  {{proj.name}}
              </h2>
          </div>
          <div class="row section-container-spacer">
              <div class="col-xs-12 col-md-6">
                  <div class="section-container-spacer">
                    <h3>{{proj.headline}}</h3>
                    <p>Last Updated {{proj.updated}}</p>
                      <p>{{proj.description}}</p>
                      <p><a href="{{ url_for('project_page', proj_name=proj.url) }}" class="btn btn-info">Learn more </a></p>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="section-container-spacer">
                      <img src="{{'/static/assets/images/'+proj.img }}" alt="" class="img-responsive">
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>Night Photography</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Photographic Project</h3>
                <p>Menphis June, 2016</p>
              </div>

              <h4>Credits & Crew</h4>
              
              <ul class="list-unstyled">
                <li>Stanford</li> 
                <li>Pablo Malice</li>
                <li>Patricia Stano</li>
              </ul>
              

              <p>Cityzen circus Association</p>
              <p>Menphis City Hall</p>
          </div>
          <div class="col-md-8">
            <h3>How to exchange with the nocturnal light ?</h3>
            <p>Id eu nisl nunc mi ipsum faucibus vitae aliquet. Auctor urna nunc id cursus metus aliquam. A pellentesque sit amet
              porttitor eget dolor morbi. Interdum varius sit amet mattis. Tincidunt dui ut ornare lectus sit amet est placerat
              in. Diam volutpat commodo sed egestas. Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla.
              Non odio euismod lacinia at quis risus sed vulputate. Lacus sed turpis tincidunt id aliquet risus feugiat.</p>
              <p> Mieget mauris pharetra et ultrices neque ornare. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis.
              Euismod in pellentesque massa placerat. Consectetur libero id faucibus nisl tincidunt eget. Pulvinar etiam non
              quam lacus suspendisse. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Ante in nibh mauris cursus
              mattis molestie a iaculis. Gravida cum sociis natoque penatibus et magnis dis parturient montes. Ultrices gravida
              dictum fusce ut placerat orci. Id cursus metus aliquam eleifend mi in. Odio eu feugiat pretium nibh ipsum consequat.
            </p>
          </div>
        </div>


        <img src="/static/assets/images/img-03.jpg" alt="" class="img-responsive">
        <p>Menphis city center</p>

        <blockquote class="text-center large-spacing">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <small class="pull-right">Irina Martin</small>
        </blockquote>
        
        <div class="row">
            <div class="col-md-6">
            <img src="static/assets/images/img-02.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
            </div>
            <div class="col-md-6">
            <img src="static/assets/images/img-01.jpg" class="img-responsive" alt="">
            <p>Artefact Buildging</p>
            </div>
        </div>

        <img src="static/assets/images/img-04.jpg" class="img-responsive" alt="">
        <p>Menphis skyline</p>

      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
<!--        <ul class="navbar-nav nav">-->
<!--          <li>-->
<!--            <a href="" title="" class="project-nav left"><span class="project-number">01</span>Previous</a>-->
<!--          </li>-->
<!--        </ul>-->
        <p class="h5 navbar-text">All projects </p>

<!--        <ul class="navbar-nav nav navbar-right">-->
<!--          <li>-->
<!--            <a href="./about" title="" class="project-nav right"><span class="project-number">03</span>Next </a>-->
<!--          </li>-->
<!--        </ul>-->
      </div>
    </div>
  </div>
</div>

{% endblock %}